*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
body{
  background: #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a{
  color: #000000;
  text-decoration: none;
  &:hover{
      color:#FF8800;
  }
}
.Header{
  background-color: #e4e4e4;

  &-info{
    height: 40px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_phone{
      font-size: 18px;
      &_call{
        font-size: 12px;
      }
    }
    &_youtube{
      display: flex;
      &_item{
        align-items: center;
        margin-left: 30px;
        display: flex;
        font-size: 14px;
        span{
          height: 31px;
          display: block;
          background-repeat: no-repeat;
          margin-right: 3px;
        }
      }
    }
  }

}
.inf_itm2{
  background: url(./../img/youtubel.png)no-repeat center;
  min-width: 55px;
}
.inf_itm1{
  min-width: 30px;
  background: url(./../img/star1.png)no-repeat center;
}
.inf_itm3{
  background: url(./../img/watch.png)no-repeat center;
  min-width: 35px;
}

//goods
@font-face {
  font-family: "dearJoe";
  src: url(./../dearJoe.ttf) format("truetype");
 }
.goods{
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 100px;
      p{
        font-family: "dearJoe";
        font-size: 20px;
        font-style: italic;
      }
    }
    &-search{
      font-size: 14px;
      input{
        padding: 3px;
        border: none;
        width: 226px;
        border-bottom: 1px solid;
        outline: none;
        background: url(./../img/zoom.png) no-repeat center right;
        &::placeholder {
          font-size: 14px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
        }
      }
    }
  }
  //right
  &-right{
      display: flex;
      justify-content: space-between;
      align-items: center;
    &-user{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 55px;
      &:hover{
        color:#FF8800;
      }
      &-img{
        width: 27px;
        height: 25px;
        background: url(./../img/us.svg)no-repeat center;
        margin-right: 8px;
      }
      &-name{
        font-size: 14px;
        font-weight: 300;
      }
    }
    &-cart{
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:hover{
        color:#FF8800;
      }
      &-img{
        width: 22px;
        height: 27px;
        background: url(./../img/bag.svg)no-repeat center;
        margin-right: 8px;
      }
      &-count{
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

//Menu
ul{
  list-style: none;
}
.Menu{
  height: 53px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  a{
    transition: 0.2s;
  }
  li{
    font-size: 16px;
    margin-right: 20px;
    position: relative;
    &:hover:after{
      transform: scale(1);
    }
    &:after{
      transition: 0.2s;
      background:  #ff6c00;
      height: 2px;
      width: 100%;
      content: '';
      display: block;
      position: absolute;
      bottom: -16.5px;
      transform:  scale(0);
    }
  }
  &-contain{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background-color: #f8f8f8;
  }
  
}
li.Menu-active:after{
    transform: scale(1);
}
// catalog
.catalog{
  height: 30px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  li{
    font-size: 14px;
    margin-right: 20px;
    transition: 0.2s;
    &:hover{
      color: #ff6c00;
    }
  }
  &-contain{
    border-bottom: 1px solid #e4e4e4;
  }
}
//bag
.bag{
  max-width: 1180px;
  margin: 0 auto;
  &-inside{
    font-weight: 600;
    margin: 60px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    &::after, &::before{
      content: '';
      display: block;
      height: 2px;
      background-color: #d9d9d9;
      width: 42%;
      position: absolute;
    }
    &::before{
      left: 0;
      top: 50%;
    }
    &::after{
      right: 0;
      top: 50%;
    }
  }
  //info
  &-info{
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: left;
    &-product{
      margin-right: 20px;
      width: 181px;
    }
    &-description{
      margin-right: 20px;
      flex: 355px;
    }
    &-count{
      margin-right: 20px;
      flex: 181px;
      text-align: center;
    }
    &-price{
      margin-right: 20px;
      flex: 235;
      text-align: center;
    }
    &-delete{
      margin-right: 20px;
      flex: 100px;
      text-align: center;
    }
  }

  //products in bag
  &-product{
    cursor: pointer;
    margin-top: 50px;
    border: 1px solid #fff;
    width: 183px;
    height: 183px;
    &:hover{
      border: 1px solid #ff6c00;
    }
    img{
      width: 100%;
      // max-height: 181px;
      width: 181px;
      max-width: 181px;
      height: 181px;
      object-fit: contain;
    }
  }
  &-description{
    align-self: flex-start;
    margin-top: 50px;
    &-name{
      max-width: 230px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    &-code{
      max-width: 230px;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    &-size{
      max-width: 230px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 3px;
    }
    &-color{
      max-width: 230px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &-count{
    font-weight: 600;
    font-size: 16px;
    margin-top: 50px;
    align-self: flex-start;
    &-number{
      margin: 0 10px;
    }
    &-minus, &-plus{
      user-select: none;
      cursor: pointer;
      color: #8d8d8d;
    }
  }
  &-price{
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    align-self: flex-start;
  }
  &-delete{
    user-select: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    align-self: flex-start;
    cursor: pointer;
  }
}

//order
button{
  outline: none;
  cursor: pointer;
}
.order{
  margin: 0 auto;
  max-width: 1180px;
  margin-bottom: 100px;
  &-hr{
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    margin: 30px 0;
  }
  &-contain{
    display: flex;
    justify-content: space-between;
    &-promo{
      font-size: 16px;
      &-text{
        margin-bottom: 10px;
      }
      &-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
          width: 280px;
          padding: 14px;
          outline: none;
          border: 1px solid #d9d9d9;
          margin-right: 20px;
        }
        button{
          border:  none;
          border-radius: 23px;
          background-color: #b7b7b7;
          color: #fff;
          padding: 15px 40px;
          &:hover{
            box-shadow: 0px 0px 1px 1px #FF8800;
          }
        }
      }
    }
    //right
    &-buy{
      line-height: 24px;
      max-width: 360px;
      width: 100%;
      &-sum, &-prcode, &-all{
        display: flex;
        justify-content:space-between;
      }
      &-prcode{
        margin-bottom: 30px;
        color: #ff6c00;
      }
      &-all{
        margin-bottom: 26px;
      }
      &-btn{
        button{
          border: none;
          border-radius: 23px;
          background-color: #ff6c00;
          color: #fff;
          padding: 15px 40px;
          &:hover{
            box-shadow: 0px 0px 2px 2px #b7b7b7;
          }
        }
      }
    }
  }
}
#ordersum, #promocode, #allsum{
  display: inline-block;
}

//btmprod
.btmprod{
  margin: 0 auto;
  max-width: 1180px;
  margin-bottom: 100px;
  &-hr{
      font-size: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      &::after, &::before{
        content: '';
        display: block;
        height: 2px;
        background-color: #d9d9d9;
        width: 36%;
        position: absolute;
      }
      &::before{
        left: 0;
        top: 50%;
      }
      &::after{
        right: 0;
        top: 50%;
      }
  }
  &-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    &-item{
      width: 278px;
      display: block;
      text-align: center;
      img{
        object-fit: cover;
      }
      p:nth-of-type(1){
        font-size: 16px;
        margin-bottom: 10px;
      }
      p:nth-of-type(2){
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

//footer
.fticon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transition: 0.2s;
  cursor: pointer;
  margin-right: 15px;
  &:hover{
    border-color: #ff6c00;
  }
  &-vk{
    background: url(./../img/vkontakte.svg)no-repeat center;
  }
  &-fcb{
    background: url(./../img/facebook.svg)no-repeat center;
  }
  &-odncl{
    background: url(./../img/odnoklassniki.svg)no-repeat center;
  }
  &-pinter{
    background: url(./../img/pinterest.svg)no-repeat center;
  }
  &-pin{
    background: url(./../img/pin-me.svg)no-repeat center;
  }
  &-inst{
    background: url(./../img/instagram.svg)no-repeat center;
  }
  &-yt{
    background: url(./../img/youtube.svg)no-repeat center;
  }
}
.footer{
  color: #fff;
  &-top{
  max-width: 1180px;
  margin: 0 auto;
  color: #ffffff;
  &-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    p{
      margin-right: 10px;
    }
    &-icons{
      display: flex;
      justify-content: space-between;
    }
  }
}
  //middle
  &-content{
    padding: 35px 0;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    max-width: 1180px;
    &-list{
      font-size: 14px;
      line-height: 25px;
      font-weight: 200;
      a{
        color: #cacaca;
        &:hover{
          color: #FF8800;
        }
      }
      &-name{
        font-size: 16px;
        font-weight: bold;
      }
    }
    &-logo{
      margin-right: 25px;
    }
    //call
    &-call{
      margin-right: 45px;
      &-phone{
        font-size: 25px;
        line-height: 45px;
      }
      &-text{
        font-size: 15px;
      }
    }
  }

  //containers
  &-middle{
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #b2b2b2;
  }
  &-contain{
    background-color: #2a2a2a;
  }
  //copyright
  &-c{
    color: #cacaca;
    padding: 40px 0;
    font-size: 12px;
    &-info{
      text-align: center;
    }
  }
}
.footer-content-list:not(:last-of-type){
  margin-right: 40px;
}
.app{
  max-width: 1920px;
}

//MOBILE AND TABLET
@media (max-width: 1199.98px) { 
  .app{
    padding: 0 3px;
  }
  .bag-inside:after, .bag-inside:before,{
    width: 35%;
  }
  .btmprod-hr:after, .btmprod-hr:before,{
    width: 30%;
  }
}
@media (max-width: 855px) {
  .order-contain{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &-promo{
      margin-bottom: 40px;
    }
  }
  .footer-content{
    justify-content: center;
    &-list{
    display: none;
    }
  }
}
.burger{
  height: 53px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f8f8f8;
  display: none;
  font-size: 22px;
  font-style: italic;
}
@media (max-width: 780px) {
  .burger{
    display: flex;
  }
  .Menu-contain{
    display: none;
  }
  .Menu{
    padding-top: 10px;
    flex-flow: column;
    height: 100%;
    
    li{
      margin-bottom: 20px;
    }
  }
  .bag-inside:after, .bag-inside:before,{
    width: 30%;
  }
  .btmprod-hr:after, .btmprod-hr:before,{
    width: 20%;
  }
  .Header-info_youtube{
    display: none;
  }
  .Header-info{
    justify-content: center;
  }
  .goods-left-search{
    display: none;
  }
  .btmprod-items{
    justify-content: space-around;
  }
  .footer-top-networks{
    flex-flow: column;
    p{
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

.prod{
  display: flex;
}
@media (max-width: 655px) {
  .prod:not(:last-of-type){
    border-bottom: 1px solid #b2b2b2;
  }
  .order-contain-promo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .order-contain-promo-block{
    flex-flow: column;
    input{
      margin-bottom: 20px;
    }
  }
  .order-contain-buy-btn{
    display: flex;
    justify-content: center;
  }
  .btmprod-items-item{
    margin-bottom: 20px;
  }
  .goods{
    flex-flow: column;
    &-left{
      margin-bottom: 20px;
    }
  }
  .prod{
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
   
  }
  
  .bag{
    &-description{
      align-self: center;
      margin-top: 10px;
      text-align: center;
    }
    &-count{
      margin-top: 10px;
      align-self: center;
    }
    &-product{
      margin: 0;
    }
    &-price{
      margin-top: 10px;
      align-self: center;
    }
    &-delete{
      margin-top: 10px;
      align-self: center;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .bag-display{
    display: none;
  }
  .bag-info-description , .bag-info-count{
  flex: 0; 
}
  .catalog-contain{
    padding: 10px 0;
  }
}
@media (max-width: 780px) {
  .footer-top-networks-icons{
    flex-flow: wrap;
    padding: 5px;
  }
  .footer-content{
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 900px) {
  .Menu-contain{
    display: block;
  }
}